name: Lint and test

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  lint:
    name: Lint the Python code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup pdm
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: 3.11
          cache: true
      - name: Install dependencies
        run: pdm install
      - name: Lint code
        run: pdm run lint

  test:
    name: Test the Python code
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup pdm
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: 3.11
          cache: true
      - name: Install dependencies
        run: pdm install
      - name: Run tests
        run: pdm run pytest --junitxml=report.xml
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: ${{ !cancelled() }}       # run this step even if previous step failed
        with:
          name: pytest test results
          path: report.xml
          reporter: java-junit

  validate-release:
    name: Validate release label and notes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jefflinse/pr-semver-bump@v1.6.0
        name: Bump and tag new version
        with:
          mode: validate
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          major-label: major
          minor-label: minor
          patch-label: patch
          noop-labels: ""
          require-release-notes: false
          base-branch: true
          with-v: false
